*~
backup/*
doc/*
!doc/causerie.css
!doc/introduction.md
!doc/introduction.htm
!doc/causerie.lang
icon/*
!icon/causerie_square_64.png
!icon/causerie.ico
lib/*
build/*
src/base/backup/*
src/parse/backup/*
